
.Input {
  width: 100%;
  outline: none;
  border-radius: 2rem;
  padding: 1.5rem 2rem;
  background-color: var(--bg-color-opacity);
  color: var(--text-color-primary);
  border: none;
  font-size: 1.6rem;
  font-family: system-ui;
}