.Input {
  width: 100%;
  outline: none;
  border-radius: 2rem;
  padding: 1.5rem 2rem;
  background-color: #2373bd2f;
  color: #d1d7dbc2;
  border: none;
  font-size: 1.6rem;
  font-family: system-ui;
}