.chatId {
  color: #d1d7db;
  width: auto;
  text-align: center;
  position: relative;
  top: 2.5rem;
  margin: auto;
}

.chatContainer {
  max-width: 520px;
  margin: 7.5rem auto;
  /* height: fit-content; */
  overflow-y: auto;
  position: fixed;
  max-height: calc(100vh - 15rem);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.chatForm {
  position: fixed;
  bottom: 0;
  height: 7rem;
  padding: 1.5rem;
  margin: 0 auto;
  width: 100%;
  max-width: 520px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: #04111b;
}

.chatForm > input {
  width: 86%;
  outline: none;
  border-radius: 2rem;
  padding: 1.5rem 2rem;
  background-color: #2373bd2f;
  color: #d1d7db;
  border: none;
  font-size: 1.6rem;
  font-family: system-ui;
}

.chatForm > button {
  width: 4rem;
  border-radius: 2rem;
  background-color: #2373bd;
  border: none;
  color: #d1d7db;
  display: flex;
  font-size: large;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}
