:root {
  --bg-color-primary: #04111b;
  --bg-color-secundary: #2373bd;
  --bg-color-tertiary: #24415c;
  --bg-color-opacity: #092339;
  --text-color-primary: #d1d7db;
  --text-color-secundary: #d1d7dbc2;
}